.nav-fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.content {
    margin-top: 130px;
}

.bg-dimgray {
    background-color: dimgray;
}

.nav2-link {
    /* font-family: lato-light, lato; */
    color: dodgerblue !important;
    text-align: center;
    cursor: pointer;
}

.anchor {
    display: block;
    position: relative;
    top: -115px;
    visibility: hidden;
}

.nav-item {
    padding-left: 30px;
    padding-right: 30px;
}

.nounderline {
    text-decoration: none;
}

.nounderline:hover {
    color: deepskyblue !important;
}

.video-contanier {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 40px;
}

.video-contanier p {
    max-width: 400px;
}

/* .video-contanier div {
    background-image: url('assets/image/video2.webp');
    width: 300px;
    height: 100px;
} */

.background {
    background-image: linear-gradient(rgba(87, 87, 87, 0.7), rgba(87, 87, 87, 0.7)), url("../image/video2.webp");
    width: 400px;
    margin-right: 70px;
    height: 226px;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-row-container h6 {
    color: dodgerblue;
    margin-right: 20px;
    margin-left: 20px;
}



.flex-row-container a {
    margin: 10px;
}

.flex-row-container a img {
    /* width: 60%; */
}

.best {
    margin: 4px 15px 0px 15px;
    text-align: center;
}

.desc {
    margin-top: 50px;
    max-width: 800px;
    text-align: center;
}

.desc .author {
    margin-top: 20px;
    margin-right: 40px;
    float: right;
}

.footer {
    margin-top: 15px;
    color: dodgerblue;
}

.top-footer {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../image/footer-bg.webp");
    /* padding: 30px; */
    /* height: 428px; */
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
}

.top-footer-item {
    padding: 30px;
}

.top-footer-item h4 {
    margin-bottom: 30px;
}

.top-footer-item li {
    font-size: 20px;
}

.footer a {
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
}

.bottom-footer {
    display: flex;
    justify-content: center;
}

/* .offcanvas-header{ display:none; }

@media (max-width: 578px) {
    .offcanvas-header{ display:block; }
    .navbar-collapse {
        position: fixed;
        top:0; 
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: black;
        transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
    }
    .navbar-collapse.show {
        visibility: visible;
        transform: translateX(-100%);
    }
} */

@media (max-width: 600px) {
    .flex-row-container > div > h4 > img {
        /* flex-direction: column; */
        display: none;
    }
}