.video-player {
    width: 400px; 
    height: 226px; 
    position: unset;
}

.nav-fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.app-store {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    /* background-color: royalblue; */
}

.app-store h6 {
    margin-right: 30px;
}

.app-store a {
    margin-right: 10px;
}

.app-store img {
    width: 150px;
    height: 50px;
}

.store-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin-top: 130px;
    width: 100%;
}

.bg-dimgray {
    background-color: dimgray;
}

.nav2-link {
    color: dodgerblue !important;
    text-align: center;
    cursor: pointer;
}

.anchor {
    display: block;
    position: relative;
    top: -115px;
    visibility: hidden;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

.nounderline {
    text-decoration: none;
}

.nounderline:hover {
    color: deepskyblue !important;
}

.video-contaner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 40px;
}

.video-contaner p {
    max-width: 400px;
    margin-left: 70px;
}

.background {
    background-image: linear-gradient(rgba(87, 87, 87, 0.7), rgba(87, 87, 87, 0.7)), url("../image/video2.webp");
    width: 400px;
    height: 226px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-row-container h6 {
    color: dodgerblue;
    margin-right: 20px;
    margin-left: 20px;
}

.flex-row-container a {
    margin: 10px;
}

.best {
    margin: 4px 15px 0px 15px;
    text-align: center;
}

.desc {
    margin-top: 50px;
    max-width: 800px;
    text-align: center;
}

.desc .author {
    margin-top: 20px;
    margin-right: 40px;
    float: right;
}

.footer {
    margin-top: 15px;
    color: dodgerblue;
}

.top-footer {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../image/footer-bg.webp");
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top-footer-item {
    padding: 30px;
}

.top-footer-item h4 {
    margin-bottom: 30px;
}

.top-footer-item li {
    font-size: 20px;
}

.footer a {
    text-decoration: none;
    font-size: 20px;
}

.bottom-footer {
    display: flex;
    justify-content: center;
}

.burger {
    cursor: pointer;
    display: none;
    margin-right: 20px;
}

.burger > div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

.sidebar {
    top: 0;
    left: 0;
    bottom: 0;
    width: 270px;
    position: fixed;
    z-index: 2000;
    background-color: white;
    padding: 20px;
    -moz-box-shadow:    -3px 0 5px 0 #555;
    -webkit-box-shadow: -3px 0 5px 0 #555;
    box-shadow:         -3px 0 5px 0 #555;

    display: none;
}

.sidebar > .close {
    background-color: transparent;
    float: right;
    outline: none;
    border: none;
    font-size: 20px;
}

.close:hover {
    color: red;
}

.sidebar > ul > li > a{
    text-decoration: none;
    padding-bottom: 20px;
}

.sidebar > ul > li {
    padding-bottom: 20px;
}
 
.burger:hover > div {
    background-color: dodgerblue;
}

.feature-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.feature-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.feature-item {
    width: 390px;
}


.resp-img {
    width: 650px; 
    height: auto;
}

@media (max-width: 650px) {
    
    .app-store {
        flex-direction: column;
    }

    .app-store h6 {
        margin-right: 0px;
    }

    .flex-row-container {
        flex-direction: column;
    }

    .feature-item {
        width: 100%;
    }

    .resp-img {
        width: 90% !important; 
        height: auto;
    }

    .background {
        width: 90vw;
        height: 50vw;
    }

    .video-player {
        width: 100vw;
        height: 60vw; 
        position: unset;
    }
}

@media (max-width: 980px) {

    .resp-img {
        width: 80%; 
        height: auto;
    }

    .feature-list {
        flex-direction: column;
        justify-content: unset;
    }

    .feature-list img {
        display: none;
    }
    
    .topbar {
        display: none;
    }

    .burger {
        display: block;
    }

    .content {
        margin-top: 80px;
    }

    .video-contaner {
        flex-direction: column;
    }

    .video-contaner p {
        margin-left: 0px;
        margin-top: 20px;
    }

    .top-footer {
        flex-direction: column;
    }
}